.main{
    min-height: 80vh;
}
.btn{
  color: none;
  border-color: none;
}
.btn:focus{
  box-shadow: none;
}
.form-inline .form-control {
  width: 150px;
}
.form-inline input{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
}
.form-inline input:hover{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
}


ul li{
  color:white;
  list-style: none;
  padding-top: 10px;
}
.circleImg {

  border-radius: 50%;
  border: 2px solid cyan;
  width: 200px;
  height: 200px;
  vertical-align: middle;

}
.Customcard{
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border-radius: .25rem;
}
.super_container{
    background-color: whitesmoke;
}
#the-canvas{
  border: 1px solid black;
}
.navbar .navbar-nav{
  margin: auto;
}
.heightNavbar a{
    color: black;
}
body{
    font-family: 'Goldman', cursive;
}
.customTextOnImage{
   padding-top: 20%;
   color: black; /*image ko bicha ko text ko color lai yeha color change gar  */
   font-weight: bold;
   font-size: x-large;
 }
.cardText{
    font-weight: bolder;
}

.rowColor{
background-color: black;
}
footer strong{
  color:white;

}
.Customcard{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}
.footerColor{
  color: #fff;
}